/* COLOUR PALETTE:
https://material.io/design/color/the-color-system.html#tools-for-picking-colors
*/

@tailwind base;

.transition-font-size {
    transition-property: font-size;
}

.full-screen {
    @apply w-screen;
    @apply h-screen;
}

.absolute-center {
    @apply block;
    @apply absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absolute-center-h {
    @apply block;
    @apply absolute;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes slide-in-left {
    from {left: 100%;}
    to {left: 0;}
}
.slide-in-left {
    animation: slide-in-left 0.4s ease-in-out
}

@keyframes slide-out-right {
    from {left: 0;}
    to {left: 100%;}
}
.slide-out-right {
    animation: slide-out-right 0.4s ease-in-out
}

@keyframes opacity-off {
    from {opacity: 1;}
    to {opacity: 0;}
}
.opacity-off {
    animation: opacity-off 0.4s ease-in-out
}

@keyframes opacity-on {
    from {opacity: 0;}
    to {opacity: 1;}
}
.opacity-on {
    animation: opacity-on 0.4s ease-in-out
}

@keyframes light-to-dark {
    from {color: #ffe5d4;}
    to {color: #694f5d;}
}
.light-to-dark {
    animation: light-to-dark 0.4s ease-in-out
}

@keyframes dark-to-light {
    from {color: #694f5d;}
    to {color: #ffe5d4;}
}
.dark-to-light {
    animation: dark-to-light 0.4s ease-in-out
}

/*
Multiple keyframe animations can be triggered with a single animation property.
However attempting to apply multiple animation properties through applying multiple classes will not work.
*/
@keyframes spin-clockwise {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.dark-to-light-spin {
    animation: spin-clockwise 0.4s ease-in-out, dark-to-light 0.4s ease-in-out
}

@keyframes spin-anticlockwise {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}
.light-to-dark-spin {
    animation: spin-anticlockwise 0.4s ease-in-out, light-to-dark 0.4s ease-in-out
}

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: NexaBold;
    src: url(fonts/NexaBold.woff);
}

@font-face {
    font-family: CircularStd;
    src: url(fonts/CircularStd-Medium.woff);
}